@using RedSocial.Core.Application.ViewModels.Post
@using RedSocial.Core.Application.Enum;
@model List<RedSocial.Core.Application.ViewModels.Post.PostViewModel>
<link rel="stylesheet" href="~/css/darkmode.css" asp-append-version="true" />
@{
    ViewBag.Title = "Home";
}

<h2 class="ms-2">Home</h2>
<div class="row mb-3">
    <div class="col-3 offset-9">
        <a asp-controller="Home" asp-action="Create" class="btn btn-outline-primary">New Post</a>
    </div>
</div>
<div class="container mt-5 d-flex justify-content-center">
    <div class="col-md-6">
        @foreach (PostViewModel post in Model)
        {
            <div class="card mb-3" style="border-radius: 15px;">
                <div class="card-header d-flex align-items-center" style="border-top-left-radius: 15px; border-top-right-radius: 15px;">
                    <img src="@post.UserPhoto" alt="Profile Picture" style="width: 40px; height: 40px; border-radius: 50%; margin-right: 10px;" />
                    <div>
                        <h5 class="m-0">@post.UserName</h5>
                        <small class="text-muted">Posted on @post.PostDate.ToString()</small>
                    </div>
                </div>
                <div class="card-body">
                    <p class="card-text">@post.Body</p>
                    @if (!string.IsNullOrEmpty(post.Archive))
                    {
                        if (post.PublicationType == PublicationType.IMAGE.ToString())
                        {
                            <img src="@post.Archive" alt="User Photo" class="img-fluid" style="border-bottom-left-radius: 15px; border-bottom-right-radius: 15px;" />
                        }
                        else if (post.PublicationType == PublicationType.VIDEO.ToString())
                        {
                            <iframe width="560" height="315" src="@post.Archive"
                                    title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
                                    clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                            </iframe>

                        }

                    }
                </div>
                <div class="btn-group btn-group-sm float-end" role="group" aria-label="Basic example">
                    <a asp-controller="Home" asp-action="Edit" asp-route-id="@post.Id" class="btn btn-sm btn-outline-info">Edit</a>
                    <a asp-controller="Home" asp-action="Delete" asp-route-id="@post.Id" class="btn btn-sm btn-outline-danger">Delete</a>
                </div>
                <div class="card-footer text-muted" style="border-bottom-left-radius: 15px; border-bottom-right-radius: 15px;">
                    <a href="#" class="card-link">Comment</a>
                </div>
            </div>
        }
    </div>
</div>
